VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PRODUCTS_TABLE=products
VITE_SUPABASE_PROFILES_TABLE=profiles
VITE_SUPABASE_STORAGE_BUCKET=product-mockups
VITE_ADMIN_ALLOWED_ROLES=owner,admin
